<div class="main-page">
  <div></div>
  <div class="top">
    <p class="title">
      Top 10
    </p>
    <div class="top-content">
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
    </div>
  </div>
  <div></div>
  <div></div>
  <div class="recent">
    <p class="title">
      Recent
    </p>
    <div class="top-content">
      <div class="item">
        <a class="item-link" href="">
          <h4 class="item-title">Spider Man</h4>
          <img src="http://unicomics.ru/img/comics/deadpool-kills-marvel-universe-1_big.jpg"
               class="item-img"
               alt="sm">
        </a>
      </div>
    </div>
  </div>
  <div></div>
</div>
